.navbar-desktop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 2em;
  position: fixed;
  top: 0;
  background-color: var(--clr-primary);
  color: #fff;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar-desktop .logo {
    display: flex;
    align-items: center;
}

.navbar-desktop .logo-text {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-desktop .logo img {
    width: 2.4em;
    height: 2.4em;
    border-radius: 50%;
    margin-right: 0.8em;
}

.navbar-desktop .navlinks {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    padding: 0 1.4em;
  }
  
  li span {
    font-size: 1rem;
  }
  
  li span:hover {
    cursor: pointer;
    color: var(--clr-secondary);
  }

.cart-btn {
  border-radius: 50%;
  width: 3.6em;
  height: 3.6em;
  cursor: pointer;
  text-align: center;
}

.cart-btn img {
  max-width: 60%;
  aspect-ratio: 1/1;
  object-fit: contain;
}